<!-- Import CSS -->
<link rel="stylesheet" href="./timer.css" />

<!-- minuterie -->
<div class="setters">
    <div class="minutes-set">
      <button data-setter="minutes-plus">+</button>
      <button data-setter="minutes-minus">-</button>
    </div>
    <div class="seconds-set">
      <button data-setter="seconds-plus">+</button>
      <button data-setter="seconds-minus">-</button>
    </div>
</div>

<div class="circle">
    <svg width="300" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(110,110)">
            <circle r="100" class="e-c-base"/>
            <g transform="rotate(-90)">
                <circle r="100" class="e-c-progress"/>
                <g id="e-pointer">
                <circle cx="100" cy="0" r="8" class="e-c-pointer"/>
                </g>
            </g>
        </g>
    </svg>
</div>

<div class="controlls">
    <div class="display-remain-time">00:00</div>
    <button class="play" id="pause"></button>
    <button class="reinitialize" id="reinitialize">Reset</button>
</div>

<!-- minuterie -->
<button id="toggle-haptic">Haptic feedback: off</button>

<script src="./timer.js"></script>