button[data-setter] {
    outline: none;
    background: transparent;
    border: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    width: 25px;
    height: 30px;
    color: black;
    cursor: pointer;
}

button[data-setter]:hover { opacity: 0.5; }
  
.setters {
    position: absolute;
    left: 85px;
    top: 75px;
}
  
.minutes-set {
    float: left;
    margin-right: 28px;
}
  
.seconds-set { float: right; }
  
.controlls {
    position: absolute;
    left: 75px;
    top: 105px;
    text-align: center;
}
  
.display-remain-time {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 65px;
    color: black;
}
  
#pause {
    outline: none;
    background: transparent;
    border: none;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: relative;
}

.play::before {
    display: block;
    content: "";
    position: absolute;
    top: 8px;
    left: 16px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 22px solid black;
}
  
.pause::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;
    width: 15px;
    height: 30px;
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid black;
    border-top: none;
    border-bottom: none;
}
  
#pause:hover { opacity: 0.8; }
  
.e-c-base {
    fill: none;
    stroke: #B6B6B6;
    stroke-width: 4px
}
  
.e-c-progress {
    fill: none;
    stroke: black;
    stroke-width: 4px;
    transition: stroke-dashoffset 0.7s;
}
  
.e-c-pointer {
    fill: #FFF;
    stroke: black;
    stroke-width: 2px;
}

.reinitialize{
    background-color: black; /* Green */
    border-radius: 20rem;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
}

.toggle-haptic{
    margin-left: 25%;
    background-color: black; /* Green */
    border-radius: 20rem;
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
}

.reinitialize:hover { opacity: 0.8; }

.toggle-haptic:hover { opacity: 0.8; }
  
#e-pointer { transition: transform 0.7s; }