<!-- Import CSS -->
<link rel="stylesheet" href="./calculatrice.css" />
<div class="playground" id="calculator">
    <div id="display" class="display">
      <span>0</span>
    </div>
    <div class="button">
      <button id="clear" class="clear" data-type="clear">AC</button>
      <button id="backspace" data-type="backspace">⌫</button>
      <button id="percent" data-type="percent">%</button>
      <button id="divide" class="operator" data-type="operator" data-key="divide">÷</button>
      <button id="seven" data-type="number">7</button>
      <button id="eight" data-type="number">8</button>
      <button id="nine" data-type="number">9</button>
      <button id="multiply" class="operator" data-type="operator" data-key="multiply">×</button>
      <button id="four" data-type="number">4</button>
      <button id="five" data-type="number">5</button>
      <button id="six" data-type="number">6</button>
      <button id="subtract" class="operator" data-type="operator" data-key="substract">-</button>
      <button id="one" data-type="number">1</button>
      <button id="two" data-type="number">2</button>
      <button id="three" data-type="number">3</button>
      <button id="add" class="operator" data-type="operator" data-key="add">+</button>
      <button id="zero" data-type="number">0</button>
      <button id="zerozero" data-type="zerozero">00</button>
      <button id="decimal" class="number" data-type="decimal">.</button>
      <button id="equals" data-type="equal">=</button>
    </div>
  </div>
  <script src="./calculatrice.js">calculatrice()</script>
