@import url('../../assets/fonts/fonts.css');

html{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: poppins-light;
}
.container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    margin-bottom: 20px;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.row {
    display: flex;
}

.cell {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.controls {
    display: flex;
}

.display-box{
    padding: 1rem 0rem;
    font-size: 18px;
}

.input{
    border: none;
    width: 3rem;
    height: 3rem;
    background-color: #ffcc8e;
    border-radius: 4px;
}
.number {
    background-color: #ff8c00;

}

.input:hover {
    background-color: #b36300;
}

.input:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 480px) {


    html{
        background-color: aliceblue;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: poppins-light;
    }
    .container {
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .score {
        display: flex;
        margin-bottom: 20px;
    }

    .board {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        border: 2px solid black;
        border-radius: 10px;
    }

    .row {
        display: flex;
    }

    .cell {
        width: 200px;
        height: 200px;
        border: 1px solid black;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
    }

    .controls {
        display: flex;
    }

    .display-box{
        padding: 1rem 0rem;
        font-size: 18px;
    }
    .input{
        border: none;
        width: 8rem;
        height: 8rem;
        background-color: darkorange;
        border-radius: 4px;
    }
}