<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="parametre.css">
</head>
<body>
<h1> Parametres</h1>
<!-- Enregistrer parametre json -->
<h2>Enregistrement parametre</h2>
<!-- <a id ='btnJson'> Save JSON</a>
<div id="fichierInput">
  <input type="file" id="addBtnJson" accept="application/JSON">
</div> -->


<div class="main-div-settings">


  <h1> Parametres</h1>
  <!-- Afficher masquer latence reseau -->
  <h3>latence reseau</h3>

  <div class="dropdown closed">
    <div class="div-contain-settings">
      <span>Afficher/désactiver</span>
      <label class="switch">
        <input type="checkbox" id="affichageLatence">
        <span class="slider round"></span>
      </label>
    </div>

<input type="number" min="0" max="60" value="0" id="delaisLatence">
<input type="text" id="domainePing">

  </div>
  <!-- Affichage heure -->
  <h3>Format Horaire</h3>

  <div class="dropdown closed">
    <div class="div-contain-settings">
      <span>Afficher/désactiver l'heure</span>
      <label class="switch">
        <input type="checkbox" id="heure">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="div-contain-settings">
      <span>Afficher/désactiver les minutes</span>
      <label class="switch">
        <input type="checkbox" id="minutes">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="div-contain-settings">
      <span>Afficher/désactiver les secondes</span>
      <label class="switch">
        <input type="checkbox" id="secondes">
        <span class="slider round"></span>
      </label>
    </div>

  </div>
  <!-- Configurer date -->
  <h3>Format Date</h3>

  <div class="dropdown closed">
    <div class="div-contain-settings">
      <span>Afficher/désactiver la date</span>
      <label class="switch">
        <input type="checkbox" id="date">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="div-contain-settings">
      <span>Afficher/désactiver l'année</span>
      <label class="switch">
        <input type="checkbox" id="annee">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="div-contain-settings">
      <span>Afficher/désactiver le mois</span>
      <label class="switch">
        <input type="checkbox" id="mois">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="div-contain-settings">
      <span>Afficher/désactiver le jour</span>
      <label class="switch">
        <input type="checkbox" id="jour">
        <span class="slider round"></span>
      </label>
    </div>

  </div>

  <!-- Configurer vibration -->
  <h3>Vibration</h3>

  <div class="dropdown closed">
    <div class="div-contain-settings">
      <span>Afficher/désactiver la vibration</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>

    <div class="div-contain-settings">
      <span>Activer/désactiver le retour haptique</span>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>

  </div>
  <!-- Niveau de Batterie -->
  <h3>Batterie</h3>

  <div class="dropdown closed">
    <div class="div-contain-settings">
      <span>Afficher/désactiver la batterie</span>
      <label class="switch">
        <input type="checkbox" id="batterie">
        <span class="slider round"></span>
      </label>
    </div>

  </div>
  <!-- Enregistrer parametre json -->
  <h3>Enregistrement parametre</h3>
  <a id ='btnJson'> Save JSON</a>
  <div id="fichierInput">
    <input type="file" id="addBtnJson" accept="application/JSON">
  </div>
  <!-- Methode verouillage appareil -->
  <h3>Verrouillage appareil</h3>
<input type="text" id="verrouillage">

  <!-- Dark mode -->
  <h3>Dark mode</h3>
  <label for="theme-selector">Choix de thème :</label>
  <select id="theme-selector">
    <option value="light">Clair</option>
    <option value="dark">Sombre</option>
    <option value="green">Green</option>
  </select>
  <h3>Batterie</h3>
  <input type="checkbox" id="reset">
  <a id ='btnSaveAll'> Save All</a>
  
</div>

<script src="parametre.js"></script>
</body>
</html>
