<h1> Parametres</h1>
<!-- Afficher masquer latence reseau -->
<h2>latence reseau</h2>
<!-- Affichage heure -->
<h2>Format Horaire</h2>
<!-- Configurer date -->
<h2>Format Date</h2>
<!-- Configurer vibration -->
<h2>Vibration</h2>
<!-- Niveau de Batterie -->
<h2>Batterie</h2>
<!-- Configurer latence reseau -->
<h2>Latence reseau </h2>
<!-- Enregistrer parametre json -->
<h2>Enregistrement parametre</h2>
<!-- Methode verouillage appareil -->
<h2>Verrouillage appareil</h2>
<!-- Dark mode -->
<h2>Dark mode</h2>
<label for="mode-select">Choose a font:</label>

<label for="theme-selector">Choix de thème :</label>
<select id="theme-selector">
  <option value="light">Clair</option>
  <option value="dark">Sombre</option>
  <option value="green">Green</option>
</select>
<script src="parametre.js"></script>

