<!-- Import CSS -->
<link rel="stylesheet" href="./header.css" />
<!-- Menu bar -->
    <div id="navbar" class="navbar-header">
        <a id="dateheure" class="hours-div" >d/m/y</a>
        <div class="main-battery">
            <img  class="battery-svg" src="">
            <span id="level" class="animated fadeIn">00%</span>
            <div class="progress">
                <div class="progress-bar" style="width: 0%">
                </div>
            </div>
        </div>
    </div>

<script src="header.js"></script>
