@import url('../../assets/fonts/fonts.css');

.navbar-header{
    font-family: poppins-light;
    justify-content: space-between;
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

body{
    margin: 0;
    padding: 0;
}
.main-battery{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    font-size: 14px;
    margin: 0;
    padding-right: 0.5rem;

}

.battery-svg{
    padding-right: 0.5rem ;
    max-height: 1rem;
}
.hours-div{
    font-size: 14px;
    padding: 0.5rem;
}

.vibration{
    max-height: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .navbar-header{
        width: 100%;
        max-height: 1rem;
    }
    .hours-div{
        font-size: 10px;
        width: 50%;
        padding: 0.1rem;
    }
    .animated {
        font-size: 10px;
        padding: 0.1rem;
    }

}