<!-- Import CSS -->
<link rel="stylesheet" href="./navbar.css" />
<!-- Barre de navigation des applications -->
<nav class="barreNavigation">
    <a href="#" class="nav-item " data-active-color="orange" data-target="Calculatrice"><img src="../../assets/images/svg/calculate.svg"></a>
    <a href="#" class="nav-item" data-active-color="green" data-target="Horloge"><img src="../../assets/images/svg/clocks.svg"></a>
    <a href="#" class="nav-item" data-active-color="blue" data-target="TicTacToe"><img src="../../assets/images/svg/games.svg"></a>
    <a href="#" class="nav-item" data-active-color="red" data-target="Parametre"><img src="../../assets/images/svg/parametre.svg"></a>
    <a href="#" class="nav-item" data-active-color="rebeccapurple" data-target="Autre">Autre</a>
    <span class="nav-indicator"></span>
</nav>