<!-- Import CSS -->
<link rel="stylesheet" href="./navbar.css" />
<!-- Barre de navigation des applications -->
<nav class="barreNavigation">

    <a href="#" class="nav-item " data-active-color="orange" data-target="Calculatrice">Calculatrice</a>

    <a href="#" onclick="openHorloge()" class="nav-item" data-active-color="green" data-target="Horloge">Horloge</a>
    <a href="#" onclick="openTicTacToe()" class="nav-item" data-active-color="blue" data-target="TicTacToe">TicTacToe</a>

    <a href="#" class="nav-item" data-active-color="red" data-target="Parametre">Parametre</a>
    <a href="#" class="nav-item" data-active-color="rebeccapurple" data-target="Autre">Autre</a>
    <span class="nav-indicator"></span>
</nav>

<script src="./navbar.js"></script>