@import url('./assets/fonts/fonts.css');

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url("assets/images/png/base.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: poppins-light;
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 100%;
}

.dark{
    /* background-image: url("assets/images/png/baseMobile.jpg"); */
    transition: 350ms ease-in-out;
    background-color: #222;
    color: #e6e6e6;
}






[data-theme="light"] {
    --gradient-one: #30cfd0;
    --gradient-two: #330867;
    --bg-color: #ffffff;
    --links: #000000;
    background-image: url("assets/images/png/base.jpg");

  }

  [data-theme="laptop"] {
    --gradient-one: red;
    --gradient-two: blue;
    --bg-color: #ffffff;
    --links: #000000;
    background-image: url("assets/images/png/base.jpg");

  }
  
  [data-theme="mobile"] {
    --gradient-one: rgba(245, 107, 244, 0.79);
    --gradient-two: #efad05;
    --bg-color: #21232f;
    --links: #FFFFFF;
    background-image: url("assets/images/png/baseMobile.jpg");

  }


@media (prefers-color-scheme: dark) {
    /* custom css */
    body {

        background-color: red;
    }
    }